<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Item Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>


  <ion-grid>
    <ion-row>
      <h4 text-center *ngIf="selectedProduct">
        {{selectedProduct.name}}
      </h4>
    </ion-row>

    <ion-row>
      <ion-col col-4>
        <ion-img width="100" height="100" src={{selectedProduct.image}}>
        </ion-img>
      </ion-col>
      <ion-col>
        <div>
          <strong>
            ${{selectedProduct.price}}
          </strong>
        </div>
        <div>
          <p>
            {{selectedProduct.description}}
          </p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>



  <button ion-button color="danger" round (click)="removeFromCart($event, selectedProduct)">
    Remove From Cart
  </button>

</ion-content>
